* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button, img {
  display: block;
}

.task-1 {
  width: 300px;
  margin: 50px auto;
}

.t1-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 15px 0;
}

.t1-button {
  margin: 0 5px 5px 0;
  padding: 8px 25px;
  border: 1px solid gray;
  font-size: 14px;
  color: gray;
  background-color: white;
}

.t1-selected {
  color: white;
  background-color: gray;
}

.t1-image {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .task-1 {
    width: 620px;
  }

  .t1-proect-list {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .task-1 {
    width: 940px;
  }

  .t1-proect-list {
    column-count: 3;
  }
}

@media (min-width: 1600px) {
  .task-1 {
    width: 1260px;
  }

  .t1-proect-list {
    column-count: 4;
  }
}
