@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-color: transparent;
}

body {
  background-color: white;
}

button, img {
  display: block;
}

button:hover {
  background-color: orange;  
}

.task-1 {
  width: 300px;
  margin: 50px auto;
}

.t1-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 15px 0;
}

.t1-button {
  margin: 0 5px 5px 0;
  padding: 8px 25px;
  border: 1px solid gray;
  font-size: 14px;
  color: gray;
}

.t1-selected {
  color: white;
  background-color: gray;
}

.t1-image {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .task-1 {
    width: 620px;
  }

  .t1-proect-list {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .task-1 {
    width: 940px;
  }

  .t1-proect-list {
    column-count: 3;
  }
}

@media (min-width: 1600px) {
  .task-1 {
    width: 1260px;
  }

  .t1-proect-list {
    column-count: 4;
  }
}

.task-2 {
  margin: 50px 0;
  min-width: 300px;
  max-width: 1200px;
}

.t2-toolbar-button {
  display: block;
  margin: 20px 25px 20px auto;
  font-size: 40px;
  color: gray;
}

.t2-cards-view {
  display: flex;
  flex-wrap: wrap;
}

.t2-card {
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
}

.t2-item {
  display: flex;
}

.t2-item-image {
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}